@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* 引入Google Fonts字體 */


body {
    margin: 0;
    background-color: rgb(10, 42, 67); 
    font-family: "Inter", sans-serif;
    overflow-x: hidden; 
    /*防止畫面溢出 禁止滾動條*/
}

.spacing-2 { letter-spacing: 2px; }
/*字距*/

@keyframes slideInDown {
    from {
        transform: translateY(-100%); 
        opacity: 0;
    }
    to {
        transform: translateY(0); 
        opacity: 1;
    }
}
/*transform: translateY:位置Y軸 opacity透明度*/

@keyframes slideOutUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}
/*進出場動畫*/

#words {
    position: absolute;
    left: 0; 
    height: auto; /*避免被裁切*/
    width: 40%;
    pointer-events: none;
    opacity: 0.3;
    animation: slowFlow 140s infinite; /*循環動畫未生效 尚未找到解決方法*/
}
@keyframes slowFlow {
    0% {
        transform: translateY(15%);
    }
    100% {
        transform: translateY(-130%);
    }
}



@media (min-width: 1030px) {
    /*滑入*/
    #desktop-nav {
        animation: slideInDown 1s ease-out forwards;
        z-index: 1000;
        /*把blur放這邊能生效但是會超出清單的範圍(整個header都blur)*/
    }

    /*滑出*/
    #mobile-header {
        animation: slideOutUp 0.8s ease-out forwards;
        pointer-events: none; 
         /*滑鼠不點擊到*/
        z-index: 999;
    }
    
    
    #mobileMenuContent {
        display: none !important;
    }
    /*這個不加排版會亂掉*/
}

@media (max-width: 1029.98px) {
    /*滑出*/
    #desktop-nav {
        animation: slideOutUp 0.8s ease-out forwards;
        pointer-events: none; 
    }

    /*滑入*/
    #mobile-header {
        animation: slideInDown 1s ease-out forwards;
        z-index: 1000;
        background: rgba(0, 0, 0, 0);
        /*backdrop-filter: blur(2px);*/
        /*為什麼這個就能生效了啊 畫風不統一只能先關掉*/
    }
}


.menu {
    background: rgba(55, 55, 55, 0.5);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border-radius: 0 0 20px 20px;
    backdrop-filter: blur(4px);
}
/*backdrop-filter: blur不生效 目前找不到解決方法*/

#desktop-nav .nav-link {
    color: #fff;
    font-size: 20px;
    letter-spacing: 7px;
    padding: 10px 35px;
    transition: 0.3s;
    border-radius: 0 0 20px 20px;
}

#desktop-nav .nav-link:hover,
#desktop-nav .nav-link.active {
    background-color: rgb(10, 42, 67);
    color: #fff;
    padding: 12px 35px;
}
/* Hover滑鼠懸停 Active被選中 */


#mobileMenuContent {
    background: rgba(55, 55, 55, 0.5);
    /*backdrop-filter: blur(4px);*/
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/*圖片排版*/
.Home-section {
    position: relative; /*內部絕對定位元素的參考座標*/
    width: 100vw;
    height: 100vh;
    overflow: hidden; /*超出去的圖片切掉*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*視差圖片共用設定*/
.Home-section img {
    position: absolute; /*絕對定位，這樣才能疊在一起*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 確保圖片填滿不變形 */
    pointer-events: none; /* 確保滑鼠點不到圖片，可以直接捲動頁面 */
}

/*漸層遮罩*/
.Home-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgb(10, 42, 67), transparent);
    z-index: 10;     
    pointer-events: none;
}

/*濾鏡*/
.Home-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(10, 42, 67);
    mix-blend-mode: color; 
    z-index: 10;       
    pointer-events: none; 
}
/*
content: ''設置一個空的偽元素
linear-gradient漸層
transparent透明
mix-blend-mode混色模式
*/

#road { z-index: 6; } 

#text {
    position: relative;
    z-index: 5;
    color: white;
    text-align: center;
    margin-bottom: 12vh;
    /* 下邊距加寬 */
}

#text h3 {
    font-size: clamp(1rem, 2vw, 2rem); /* 響應式字體：最小1rem，最大2rem */
    letter-spacing: 10px;
    font-weight: 400;
    animation: textUp 1.5s ease-out forwards;
}

#text h1 {
    font-size: clamp(3rem, 12vw, 40rem);
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 1vw;
    margin-top: -10px;
    animation: textUp 1.8s ease-out forwards;
}

/* 文字進場動畫 */
@keyframes textUp {
    from {
        transform: translateY(80vh); 
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#p1 p{
    font-size: clamp(13px, 2vw, 20px);
    font-weight: lighter;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    padding: 80px 40px;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}
/*text-align: center整句文字置中
box-sizing: border-box;確保padding不會影響元素的總寬度*/


.About-section {
    position: relative;
    color: white;
    background-image: url(assets/images/lg.png);
    height: auto;
    width: 100vw;
    background-repeat: no-repeat;
    overflow: hidden;
    
}
.About-section::before {
    content: '';
    position: absolute;
    bottom: 32%;
    width: 100%;
    height: 1400px;
    background: linear-gradient(to top,  rgb(10, 42, 67), transparent);
    z-index: 1;
}

#About {
    position: relative;
    padding: 65vh 0 0 0;
    color: white;
    width: 100%;
}


.about-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;   
    /* 往左拉回修正 (因為 width 變寬了，起點要往左移才能置中) */
    margin-left: calc(50% - 50vw); 
    padding: 0 5vw;   
    box-sizing: border-box;
    z-index: 10;
}


.about-name h1 {
    font-weight: lighter;
    font-size: clamp(33px, 2vw, 60px);
    letter-spacing: 10px;
}

.about-name h3 {
    font-weight: lighter;
    font-size: clamp(17px, 2vw, 25px);
    letter-spacing: 10px;
}

.about-img-box img {
    height: 20vh;
    width: auto;
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    border-style: dashed groove none dotted;
    transition: transform 0.3s;
}

.about-img-box img:hover {
    transform: rotate(15deg);
}

.about-text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;   
    /* 往左拉回修正 (因為 width 變寬了，起點要往左移才能置中) */
    margin-left: calc(50% - 50vw); 
    padding: 0 5vw;   
    box-sizing: border-box;
    opacity: 0.8;
    z-index: 10;
}

.about-text p {
    color: rgb(210, 236, 255);
    font-size: clamp(12px, 2vw, 15px);;
    font-weight: lighter;
    letter-spacing: 3px;
}

.about-text h3 {
    font-weight: lighter;
    font-size: 2rem;
    letter-spacing: 10px;
    transform: translateX(-1vw);
}

.about-video-group {
    position: relative;
    z-index: 10;
}


.section-works {
    background-color: rgb(76, 111, 136);
}


.work-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
}

.work-card img:hover {
    transform: scale(1.02);
}


.Contact-section{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 50px 20px;
}

#con{
    display: grid;
    margin: 0 10px;
}

.Contact-section h1{
    font-weight: lighter;
    font-size: clamp(33px, 2vw, 60px);
}

.Contact-section h3{
    font-weight: lighter;
    font-size: clamp(17px, 2vw, 25px);
}

footer {
    color: rgb(210, 236, 255);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

